.header {
    background-color: rgba(255, 255, 255, 0.966);
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 0.5vw 3.5vh;
    display: flex;
}

.title {
    font-weight: 1000;
    font-size: 1.5rem;
}

.menu {
    font-weight: 600;
    font-size: 1rem;
    color: rgb(165, 165, 165);
    transition: color 0.2s ease;
    gap: 30px;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 67vw;

}

.active {
    font-weight: 600;
    color: rgb(0, 0, 0);
}
