.map-total {
    display: flex;
    justify-content: center;
}

.list-total {
    background-color: rgb(238, 238, 238);
    height: 500px;
    width: 300px;
}

.search-total {
    display: flex;
    justify-content: center;
}

.list-box {
  background-color: rgb(192, 192, 192);
  height: 430px;
  width: 90%;
  margin: 15px;
  overflow-y: auto;
  padding-right: 10px;
}
