.map-total {
    /* width: 1360px;
    height: 620px; */
    display: flex;
    margin-top: 7.5%;
}
.map-container {
    width: 850px;
    height: 620px;
}

/* μΈν’‹ */
.page-name {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333333;
  text-align: center;
  margin-bottom: 10px;
}

.id, .pw, .nickname, .pw-check {
  display: flex;
  /* justify-content: space-between; */
  margin-left: 10px;
  align-items: center;
  font-weight: 600;
  font-size: 0.9rem;
  color: #555555;
}


.input-message {
  font-size: 0.6rem;
  min-width: 100px;
  text-align: right;
  font-weight: 500;
  margin-left: 15px;
}

.id-input input,
.pw-input input,
.nickname-input input,
.pw-check-input input {
  width: 300px;
  padding: 12px 0px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s;
  outline: none;
}

.id-input input:focus,
.pw-input input:focus,
.nickname-input input:focus,
.pw-check-input input:focus{
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.btn {
  width: 305px;
  padding: 12px 0;
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #43a047;
}

button:active {
  border-color: #2b7a2f;
  border: #2b7a2f;
}
