.memo-list {
  width: 300px;
  height: 400px;
  position: absolute;
  top: 5%;
  right: 0%;
  padding-top: 5vh;
  padding-bottom: 14vh;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: rgba(255, 255, 255, 0.966);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  display: grid;
  justify-content: center;
}

.memo-empty {
  font-size: 0.95rem;
  color: #888;
}

.filter {
  position: 'relative';
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #9b9b9b;
  font-size: 0.8rem;
  font-weight: 500;
  padding-bottom: 65px;
}

.active-f {
  color: #4caf50;
}

.filter-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 11%;
}

.sort-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 11%;
  gap: 10px;
}

.sort-item {
  padding: 2px 4px;
  background-color: #f0f0f0;
  border-radius: 4px;
  font-size: 0.7rem;
  color: #919191;

}

.markers-menu {
  position: absolute;
  top: 11%;
  display: flex;
  gap: 10px;
}

.markers-menu>img {
  width: 25px;
  height: 25px;
}


.tags-menu {
  position: absolute;
  top: 11%;
  display: flex;
  flex-wrap: wrap;
  /* 여러 줄로 감싸기 */
  gap: 5px;
  max-width: 80%;
  /* 필요하면 너비 조정 */
}

.tags-menu>span {
  padding: 2px 5px;
  background-color: #f0f0f0;
  border-radius: 4px;
  font-size: 0.7rem;
  color: #919191;
  flex: 1 0 21%;
  /* 한 줄에 4개씩 차지할 크기 대략 22% */
  box-sizing: border-box;
  text-align: center;
}


.memo-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: scroll;
}

.memo-card {
  width: 230px;
  padding: 12px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.memo-card:hover {
  background-color: #f9f9f9;

}

.memo-date {
  font-size: 0.7rem;
  color: #666;
}

.memo-marker-pname {
  display: flex;
  gap: 5px;
  align-items: center;
  font-weight: 600;
}

.memo-marker {
  height: 20px;
}

.memo-place-name {
  font-size: 0.8rem;
}

.memo-text {
  font-size: 1rem;
  color: #212121;
  white-space: pre-wrap;
  margin-bottom: 3vh;
}

.memo-tags {
  font-size: 0.7rem;
  color: #555;
  margin-bottom: 5px;
}


.memo-textarea {
  width: 100%;
  height: 100px;
  padding: 8px;
  font-size: 14px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: inherit;
}