.detail-total {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background: #fff;
    box-shadow: -2px 0 5px rgba(0,0,0,0.3);
    z-index: 1000;
    transition: transform 0.3s ease;
    transform: translateX(0);

    overflow-y: auto;      /* 내용이 넘치면 세로 스크롤 */
    -webkit-overflow-scrolling: touch; /* iOS 부드러운 스크롤 */
}

.detail-total.hidden {
    transform: translateX(100%);
}

.cancle-btn button {
    float: right;
    margin: 10px;
    background-color: #eee;
    border: none;
    cursor: pointer;
}

.detail-pic img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.detail-menu {
    display: flex;
}