
/* 검색 */
.search-total {
  position: absolute;
  top: 9%;
  left: 0%;
  z-index: 90;
  display: flex;
  justify-content: center;
  padding: 2vh 2vw;
  gap: 10px;
}

.search-input input {
  width: 300px;
  height: 10px;
  padding: 12px 0px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s;
  outline: none;
}

.search-input input:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.search-btn {
  height: 37px;
  background-color: #4caf50;
  color: white;
  font-size: 0.9rem;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-btn button:hover {
  border-color: #4caf50;
}

.search-btn button:active {
  border: none;
  background-color: #388e3c;
}
