.marker-total {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.marker-icon > img {
  width: 30px;
  border: 2px solid #bdbdbd;
  transition: border-color 0.3s ease;
}

.marker-icon > img:hover {
  border-color: #4caf50;
  cursor: pointer;
}

img.selected {
  border-color: #4caf50 !important;
}