.marker-total {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.marker-icon>img {
    width: 30px;
    border: 2px solid #bdbdbd;
}

.marker-icon>img:hover {
    border: 2px solid #4caf50;
}

img.selected {
    border: 2px solid #4caf50;
}
